<!DOCTYPE html>
<html lang="en" ng-app="jhonnynews">
<head>
	<meta charset="UTF-8">
	<title>Jhonny Vasquez</title>
	<link rel="stylesheet" href="assets/css/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

	<div class="container cns" ng-controller="news">
		<div class="row hns">
			<div class="col-xs-12">
				<span class="glyphicon glyphicon-align-justify" ng-click="getnews()"></span>
			</div>
		</div>

		<div class="col-xs-10 col-xs-offset-1 bns">

			<div class="e_ns col-xs-12" ng-repeat="new in news" style="width:{{ancho}}">
				<div class="circlebox green"></div>
				<div class="titlens">{{new.title}}</div>
			</div>		

		</div>
	</div>
	
	<script src="assets/js/jquery-2.2.1.min.js"></script>
	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/efects.js"></script>
</body>
</html>