body{
	background: #394C5F;
}
.container.search{
	background: rgba(255,255,255,0.5);
	padding: 1em;
}
.cns{
	margin-top: 5em;
	background: #f1f1f1;
	min-height: 600px;
	border-radius: 10px 10px 0px 0px;
}
.container.cns{
	cursor: url("../img/search2.png"), auto;
	margin-top: 90%;
	transition: 1s all;
}
.hns{
	background: #FF6654;
	padding: 1em;
	color: #FFF;
	min-height: 75px;
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
}
.hns span{
	float: left;
	font-size: 2.3em;
}
.hns span:hover{
	color: #C7F04B;
}
.e_ns{
	margin-bottom: 1em;
	padding: 1.2em;	
	background: #FFF;
	transition: 1s all;
	width: 0px;
	overflow: hidden;
}
.circlebox{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	float: left;
}
.titlens{
	width: 60%;
	height: 35px;
	padding:.8em;
	overflow: hidden;
	margin-top: 1em;
	margin-left: 1em;
	background: #f1f1f1;
	float: left;
}
.circlebox.green{
	background: #C7F04B;
}
.circlebox.blue{
	background: #2FC3CB;
}
.bns{
	padding: 1em;
}